<h2>Edit {{name}}</h2>
<form action="/authors/{{_id}}" method="POST">
  <input type="hidden" name="_method" value="put">
<label>Name:</label>
<input type="text" name="name">
<input type="submit">
</form>

<div><a href="/authors/{{_id}}/delete">Delete Author</a></div>
